@import "main.css";

#ani2--white1 {
    fill: var(--ani-2-white);
}

#ani2--dark1 {
    fill: var(--ani-2-dark);
        
}

#ani2--dark2 {
    fill: var(--clr-vijf);
    transform: translateY(-20%);
}

#ani2--white1,
#ani2--dark1 {
    transition: all 1s ease;
}

#ani2--dark2 {
    transition: all 1.5s ease;
}

svg:hover #ani2--dark1 {
    transform: translateY(50%);
}
svg:hover #ani2--white1 {
    transform: translateY(20%);
}
svg:hover #ani2--dark2 {
    transform: translateY(50%);
}