@import "main.css";

#ani4--elem1 {
    fill: var(--ani4-purple);
}
#ani4--elem2 {
    fill: var(--ani4-blue);
}
#ani4--elem3 {
    fill: var(--ani4-green);
}

#ani4--elem1,
#ani4--elem3 {
    transform-origin: center;
    animation: rotateSlow 2s linear infinite;
}


@keyframes rotateSlow {
    100% {transform: rotate(360deg);}
}
